:root {
  --green: #54E6AF;
  --grey: #C2CBE5;
  --white: #FFFFFF;
  --dark-blue: #121725;
  --light-dark-blue: #2C344B;
  --error: red;
}

body {
  background-color: var(--dark-blue);

  /* General font settings */
  font-family: 'Chivo', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--grey);
}

.headline {
  color: var(--green);
  text-transform: uppercase;
}

.headline--white {
  color: var(--white);
}

.signup__email--error {
  display: none;
  font-size: 12px;
  color: var(--error);
  margin-top: 8px;
  margin-left: 32px;
}