:root {
  --green: #54E6AF;
  --grey: #C2CBE5;
  --white: #FFFFFF;
  --dark-blue: #121725;
  --light-dark-blue: #2C344B;
  --error: red;
}

body {
  background-color: var(--dark-blue);

  /* General font settings */
  font-family: 'Chivo', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--grey);
}

.headline {
  color: var(--green);
  text-transform: uppercase;
}

.headline--white {
  color: var(--white);
}

.podcasts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup__submit {
  background-color: var(--green);
  color: var(--dark-blue);
  border-radius: 20px;
  height: 46px;
}

.signup__email {
  background-color: var(--light-dark-blue);
  border-radius: 28px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 32px;
  color: white;
  border-width: 0;
}

.signup__email--error {
  display: none;
  font-size: 12px;
  color: var(--error);
  margin-top: 8px;
  margin-left: 32px;
}