@import "./resets/normalize.css";
@import "./resets/reset.local.css";
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');

:root {
  --green: #54E6AF;
  --grey: #C2CBE5;
  --white: #FFFFFF;
  --dark-blue: #121725;
  --light-dark-blue: #2C344B;
  --error: red;
}

body {
  background-color: var(--dark-blue);
  background-image: url("../assets/mobile/image-host.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  font-family: 'Chivo', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-top: 62px;
  margin-bottom: 57px;
}

main {
  max-width: 375px;
  padding-left: 24px;
  padding-right: 24px;
}

.headline {
  font-size: 26px;
  color: var(--green);
  text-align: center;
  line-height: 38px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.headline--white {
  color: var(--white);
}

.description {
  text-align: center;
  margin-bottom: 33px;
}

.podcasts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 17px;
  margin-bottom: 48px;
}

.podcasts__spotify, .podcasts__apple {
  width: 56px;
}

.podcasts__google {
  width: 73px;
  height: 11px;
}

.podcasts__pocket {
  width: 77px;
  height: 15px;
}

.signup {
  width: 327px;
  font-size: 14px;
  line-height: 28px;
}

.signup__email {
  width: 100%;
  height: 46px;
  background-color: var(--light-dark-blue);
  border-radius: 28px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 32px;
  color: white;
}

.signup__email--error {
  font-size: 12px;
  color: var(--error);
  margin-top: 8px;
  margin-left: 32px;
}

.signup__submit {
  width: 100%;
  height: 46px;
  background-color: var(--green);
  color: var(--dark-blue);
  border-radius: 20px;
  margin-top: 16px;
}

@media (min-width: 768px) {
  
  header {
    
  }
}