body {
  height: 100vh;
  min-height: 875px;
  max-height: 1024px;
  background-image: url("../assets/desktop/bg-pattern-dots.svg"), url("../assets/tablet/image-host.jpg");
  background-position: 30px 100%, top right;
  background-repeat: no-repeat;
}

header {
  padding-left: 39px;
  padding-top: 50px;
  padding-bottom: 152px;
}

main {
  background-color: var(--dark-blue);
  margin-left: 39px;
  width: 635px;
  height: 509px;
}

.headline {
  padding-top: 93px;
  padding-bottom: 31px;
  font-size: 48px;
}

.description {
  padding-bottom: 40px;
  width: 445px;
  font-size: 18px;
  line-height: 28px;
}

.container {
  display: flex;
  flex-wrap: wrap-reverse;
}

.podcasts {
  width: 536px;
  height: 29px;
  margin-top: 64px;
}

.signup__email {
  width: 427px;
}

.signup__submit {
  position: relative;
  right: 162px;
  width: 162px;
}